
<h1>About Us</h1>
<body>
<div>
  <img src="assets/images/about.png" >
  <p>
  Want to get involved in Sunshine state Hackathon to fight Covid-19? Help us
  find solutions to everything from how to stop the spread of the virus to how
  to deal with the socio-economic crisis that is impacting the workplace,
  healthcare, food security, government services, supply chain, logistics, and
  the environment across the State of Florida. Sign up here to win prizes and
  solve our biggest challenge!
  </p>
  <h4>Contact:</h4>
  <h4>Cal Tiger, Organizer</h4>
  <h4>caltiger727@gmail.com</h4>
  <h4>Whatsapp: 727-565-8954</h4>
</div>
<div>
  <iframe width="420" height="315" src="https://www.youtube.com/embed/watch?v=tHbSPvHxm_E"></iframe>
  <h3>Evangelizing the Global Hack and Hackathons in General</h3>
  <p>Please take time to listen to Steve Jurvetson, who was one of our keynote speakers at "Hack the Crisis" recently (April 9-11). Steve  is Managing Director at Draper Fisher Jurvetson, a Silicon Valley VC firm. He is currently a board member for SpaceX & Tesla. Pls listen to what Steve has to say about on the future of work, the economy, sustainability, entrepreneurship and how we can fight the Covid-19 Crisis. </p>
  <h4>Hackathon Dates: June 18-21, 2020</h4>
  <h4>Virtual: Via Zoom</h4>
</div>
</body>