<p>
  Want to get involved in Sunshine state Hackathon to fight Covid-19? Help us
  find solutions to everything from how to stop the spread of the virus to how
  to deal with the socio-economic crisis that is impacting the workplace,
  healthcare, food security, government services, supply chain, logistics, and
  the environment across the State of Florida. Sign up here to win prizes and
  solve our biggest challenge!
</p>
<div>
  <img src="assets/images/about.png" >
</div>
<div>
<section>
  <p>Contact:</p>
  <p>Cal Tiger, Organizer</p>
  <p>caltiger727@gmail.com</p>
  <p>Whatsapp: 727-565-8954</p>
</section>

<section>
  <p>Hackathon Dates: June 18-21, 2020</p>
  <p>Virtual: Via Zoom</p>
</section>
</div>