<img src="/assets/images/water.jpeg" class="background">
  <nav>
  <section>
  <a routerLink="/home-component" routerLinkActive="active"><img src="assets/images/sshcovid.png" class="logo"></a>
</section>
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/team-component" routerLinkActive="active">Team</a></li>
    <li><a routerLink="/about-component" routerLinkActive="active"> About</a></li>
    <li><a routerLink="/news-component" routerLinkActive="active">News</a></li>
    <li><a routerLink="/donate-component" routerLinkActive="active">Donate</a></li>

  </ul>
</nav>
<body>
<router-outlet></router-outlet>
</body>
<footer>
  <p>© SunshineStateHack 2020</p>
</footer>
