.background {
    background-image: url('/assets/images/water.jpeg');
    background-repeat: no-repeat;
    position: fixed;
    width: 300%;
    top: 0;
    left: 0;
    right: 0;
    opacity: .4;
    z-index: -1000;
}

.logo {
    height: 100%;
    width: auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: 10%;
    top: 0;
    left: 0;
    right: 0;
}

ul {
    display: flex;
    align-items: flex-end;
}
ul .active {
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: 16pt;
}

li {
    list-style: none;
    padding: 0 1rem;
}

body {
    margin: 10rem;
}

footer {
    text-align: center;
}