<nav>
  <section>
    <img src="assets/images/sshcovid.png" >
  <a routerLink="/home-component" routerLinkActive="active">SunshineStateHack.com</a>
</section>
  <ul>
    <li><a routerLink="/home-component" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/team-component" routerLinkActive="active">Team</a></li>
    <li><a routerLink="/about-component" routerLinkActive="active"> About</a></li>
    <li><a routerLink="/news-component" routerLinkActive="active">News</a></li>
    <li><a routerLink="/donate-component" routerLinkActive="active">Donate</a></li>

  </ul>
</nav>
<body>
<router-outlet></router-outlet>
</body>
<footer>
  <p>© SunshineStateHack 2020</p>
</footer>