
<h1>News</h1>

<h2>Check out this interview our Lead Organizer, Cal Tiger, did with 83 Degrees Media <a href="www.bit.ly/83dm_hack1">here</a></h2>

<section>
    <h2>Forbes Magazine Article on Lessons from Estonia</h2>
    <h3><a href="https://www.forbes.com/sites/robertwolcott/2020/03/15/hack-the-crisis-6-lessons-from-estonias-coronavirus-crisis-response/#138f26dc4fca">
        Hack-The-Crisis: 6 Lessons From Estonia’s Coronavirus Crisis Response</a></h3>
</section>

<section>
    <h2>Forbes Magazine Article by Pipedrive CTO</h2>
    <h3><a href="https://www.forbes.com/sites/forbestechcouncil/2020/05/19/why-estonia-is-the-worlds-leader-when-it-comes-to-hacking-the-current-health-crisis/#633005e02af3">
        Why Estonia Is The World's Leader When It Comes To Hacking The Current Health Crisis</a></h3>
</section>

<section>
    <h2>Forbes CIO Insights on Covid-19 Crisis</h2>
    <h3><a href="https://www.forbes.com/sites/vijaygurbaxani/2020/04/08/cios-think-like-hackers-during-covid-19/#36fa3eba54f2">
        Why CIOs Must Think Like Hackers In The Covid-19 Crisis—And After It</a></h3>
</section>

<section>
    <h2>Forbes Article on Superhuman Energy During Crisis</h2>
    <h3><a href="https://www.forbes.com/sites/robertwolcott/2020/04/12/superhuman-energy-of-crisis--purpose-as-catalyst-serendipity-as-resource/#38a29d8443c4">
        Superhuman Energy Of Crisis— Purpose As Catalyst, Serendipity As Resource</a></h3>
</section>

<section>
    <h2>Forbes Article by Professor Dan Conway, Phd</h2>
    <h3><a href="https://www.forbes.com/sites/cognitiveworld/2018/09/06/are-you-playing-the-right-game/#763341d24241">
        Are You Playing The Right Game?</a></h3>
</section>
