h1 {
    font-size: 28pt;
    text-align: center;
}
h3 {
    margin-bottom: 5rem;
}

div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

img {
    width: 12rem;
    height: auto;
}

