
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_donations" />
    <input type="hidden" name="business" value="ehrbyod@gmail.com" />
    <input type="hidden" name="currency_code" value="USD" />
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
    <div>
        <img src="assets/images/QRcode.png" >
        <p>Or directly at: <a href="https://www.paypal.com/donate/?token=suPTGEQbcAIjG4E-2oioCIEhGDU1TNYRdXvU189PFfdWQu8uB5ONRO-ArB1p2QkB40dDJW&country.x=US&locale.x=">https://www.paypal.com/donate/</a></p>
    </div>